Dataset1. Population of Spain counted by pronvince

https://www.ign.es/web/ign/portal/rcc-nomenclator-nacional

In [158]:
import pandas as pd
raw = pd.read_csv('./MUNICIPIOS.csv', sep=';', encoding='latin1')
raw.head()

,COD_INE,ID_REL,COD_GEO,COD_PROV,PROVINCIA,NOMBRE_ACTUAL,POBLACION_MUNI,SUPERFICIE,PERIMETRO,COD_INE_CAPITAL,CAPITAL,POBLACION_CAPITAL,HOJA_MTN25_ETRS89,LONGITUD_ETRS89,LATITUD_ETRS89,ORIGENCOOR,ALTITUD,ORIGENALTITUD
0,1001000000,1010014,1010,1,Araba/Álava,Alegría-Dulantzi,2935,"1994,5872",35069,1001000101,Alegría-Dulantzi,2823,0113-3,"-2,51243731","42,83981158",Mapa,568,MDT
1,1002000000,1010029,1020,1,Araba/Álava,Amurrio,10264,"9649,53",65652,1002000201,Amurrio,9188,0086-4,"-3,00007326","43,05427776",Mapa,219,MDT
2,1003000000,1010035,1030,1,Araba/Álava,Aramaio,1442,"7325,84",41775,1003000601,Ibarra,787,0087-4,"-2,56540037","43,05119653",Mapa,333,MDT
3,1004000000,1010040,1040,1,Araba/Álava,Artziniega,1800,"2728,73",22886,1004000101,Artziniega,1675,0086-1,"-3,12791718","43,12084358",Mapa,210,MDT
4,1006000000,1010066,1060,1,Araba/Álava,Armiñón,223,"1297,27",24707,1006000101,Armiñón,100,0137-4,"-2,87183475","42,72326199",Mapa,467,MDT

In [159]:
raw.columns

Index(['COD_INE', 'ID_REL', 'COD_GEO', 'COD_PROV', 'PROVINCIA',
       'NOMBRE_ACTUAL', 'POBLACION_MUNI', 'SUPERFICIE', 'PERIMETRO',
       'COD_INE_CAPITAL', 'CAPITAL', 'POBLACION_CAPITAL', 'HOJA_MTN25_ETRS89',
       'LONGITUD_ETRS89', 'LATITUD_ETRS89', 'ORIGENCOOR', 'ALTITUD',
       'ORIGENALTITUD'],
      dtype='object')

In [160]:
pop = raw.loc[:,['PROVINCIA', 'NOMBRE_ACTUAL', 'POBLACION_MUNI', 'LONGITUD_ETRS89', 'LATITUD_ETRS89' ]]
pop.head()

,PROVINCIA,NOMBRE_ACTUAL,POBLACION_MUNI,LONGITUD_ETRS89,LATITUD_ETRS89
0,Araba/Álava,Alegría-Dulantzi,2935,"-2,51243731","42,83981158"
1,Araba/Álava,Amurrio,10264,"-3,00007326","43,05427776"
2,Araba/Álava,Aramaio,1442,"-2,56540037","43,05119653"
3,Araba/Álava,Artziniega,1800,"-3,12791718","43,12084358"
4,Araba/Álava,Armiñón,223,"-2,87183475","42,72326199"

In [161]:
pro = pop['PROVINCIA'].replace(['Illes Balears','Araba/Álava','Alacant/Alicante','Castelló/Castellón','València/Valencia'],['Baleares','Álava','Alicante','Castellón','Valencia'])
pro

0          Álava
1          Álava
2          Álava
3          Álava
4          Álava
          ...
8126    Zaragoza
8127    Zaragoza
8128    Zaragoza
8129       Ceuta
8130     Melilla
Name: PROVINCIA, Length: 8131, dtype: object

In [162]:
pre = pro.reset_index()
pop['PROVINCIA'] = pre['PROVINCIA']

In [163]:
pop

,PROVINCIA,NOMBRE_ACTUAL,POBLACION_MUNI,LONGITUD_ETRS89,LATITUD_ETRS89
0,Álava,Alegría-Dulantzi,2935,"-2,51243731","42,83981158"
1,Álava,Amurrio,10264,"-3,00007326","43,05427776"
2,Álava,Aramaio,1442,"-2,56540037","43,05119653"
3,Álava,Artziniega,1800,"-3,12791718","43,12084358"
4,Álava,Armiñón,223,"-2,87183475","42,72326199"
...,...,...,...,...,...
8126,Zaragoza,Biel,155,"-0,93657238","42,38756817"
8127,Zaragoza,Marracos,84,"-0,77641575","42,09091716"
8128,Zaragoza,Villamayor de Gállego,2745,"-0,7705331","41,68419824"
8129,Ceuta,Ceuta,84202,"-5,30675127","35,88810209"
8130,Melilla,Melilla,87076,"-2,937088836","35,29220967"

In [164]:
pivpop = pop.pivot_table(index = {'PROVINCIA'}, values = 'POBLACION_MUNI', aggfunc = 'sum')
pivpop.head()

           POBLACION_MUNI
PROVINCIA
A Coruña          1121815
Albacete           388270
Alicante          1879888
Almería            727945
Asturias          1018784

Dataset2. GDP data by province

https://www.ine.es/jaxi/Datos.htm?path=/t35/p010/rev19/&file=02001.px

In [177]:
pibraw = pd.read_csv('./pib.csv', sep=';', thousands = '.', encoding='latin1')
pibraw.head()

,Provincias,Ramas de actividad,periodo,Total
0,Albacete,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2018(P),8235408
1,Alicante/Alacant,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2018(P),36521398
2,Almería,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2018(P),13979829
3,Araba/Álava,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2018(P),11882941
4,Asturias,PRODUCTO INTERIOR BRUTO A PRECIOS DE MERCADO,2018(P),23258673

In [178]:
pib =pd.DataFrame()
pib['province'] = pibraw['Provincias']

In [179]:
pib['PIB de Mercado'] = pibraw['Total']

In [180]:
pib.head()

           province  PIB de Mercado
0          Albacete         8235408
1  Alicante/Alacant        36521398
2           Almería        13979829
3       Araba/Álava        11882941
4          Asturias        23258673

In [181]:
PIB = pib['province'].replace(['Balears, Illes','Araba/Álava','Alicante/Alacant','Castellón/Castelló','Valencia/València','Coruña, A','Palmas, Las','Rioja, La']
                              ,['Baleares','Álava','Alicante','Castellón','Valencia', 'A Coruña','Las Palmas', 'La Rioja'])

In [182]:
pib_data = PIB.reset_index()
pib['province'] = pib_data['province']

In [183]:
pib.head()

   province  PIB de Mercado
0  Albacete         8235408
1  Alicante        36521398
2   Almería        13979829
3     Álava        11882941
4  Asturias        23258673

In [184]:
pib_pob = pd.merge(pib,pivpop, how = 'left', left_on='province', right_on='PROVINCIA')
pib_pob.head()

   province  PIB de Mercado  POBLACION_MUNI
0  Albacete         8235408          388270
1  Alicante        36521398         1879888
2   Almería        13979829          727945
3     Álava        11882941          333940
4  Asturias        23258673         1018784

In [185]:
pop.to_csv('./population.csv', index = False)

In [186]:
pivpop.to_csv('./piv_population.csv')

In [187]:
pib.to_csv('./pibdata.csv', index = False)
pib_pob.to_csv('./pib_pob.csv', index = False)